<html>
  <head>
    <style>
      button {
               width: 15px;
               height: 15px;
             }
    </style>
  </head>
  <p><a href="?clicked=1&usedX={{usedX}}&usedY={{usedY}}"><button>{{content1}}</button></a><a href="?clicked=2&usedX={{usedX}}&usedY={{usedY}}"><button>{{content2}}</button></a><a href="?clicked=3&usedX={{usedX}}&usedY={{usedY}}"><button>{{content3}}</button></a></p>
  <p><a href="?clicked=4&usedX={{usedX}}&usedY={{usedY}}"><button>{{content4}}</button></a><a href="?clicked=5&usedX={{usedX}}&usedY={{usedY}}"><button>{{content5}}</button></a><a href="?clicked=6&usedX={{usedX}}&usedY={{usedY}}"><button>{{content6}}</button></a></p>
  <p><a href="?clicked=7&usedX={{usedX}}&usedY={{usedY}}"><button>{{content7}}</button></a><a href="?clicked=8&usedX={{usedX}}&usedY={{usedY}}"><button>{{content8}}</button></a><a href="?clicked=9&usedX={{usedX}}&usedY={{usedY}}"><button>{{content9}}</button></a></p>
</html>